.card {
  max-width: 1200px;
  padding: 0.5em;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

/* Section common */

.section__container {
  max-width: 1200px;
  margin: auto;
}

.card__img {
  width: 100%;
}

/* For below 768px screen width*/
@media screen and (max-width: 768px) {
  .memory {
    flex-grow: 1;
  }
}
