@value colorBackground from './common/colors.css';
@value fontSmall, fontMicro, weightBold from './common/size.css';

@font-face {
  font-family: "coopbl";
  src: url("./fonts/COOPBL.TTF");
}

h1 {
  font-size: fontSmall;
  font-weight: weightBold;
  margin: 6px 0px 25px 0px;
  font-family: "coopbl";
  opacity: 0.7;
  text-decoration: underline;
  text-decoration-style: double;
}

/* Section common */
section {
  padding: 20px;
  padding-bottom: 0;
  text-align: center;
  margin: auto;
}

footer {
  text-align: center;
  margin: auto;
  padding-bottom: 30px;
}

p {
  font-size: fontMicro;
  font-family: "coopbl";
}
